<template name="comingSoon">
  <div id="{{active_route}}-wrapper">
    <div class="col-xs-12 contest-list-header">
      <div class="col-xs-3">
        <a href="#" class="back-btn">
            <span class="glyphicon glyphicon-menu-left back-icon"></span>
        </a>
      </div>
      <div class="col-xs-9 header-text">
        <span>Select contests</span>
      </div>
    </div>
    <div id="coming-soon-body">
      There is no active contests for this subjects. Please contact your teacher for information.
    </div>
  </div>
</template>
