<template name="contestDetail">
  <div id="{{active_route}}-wrapper">
    <div class="col-xs-12 contest-list-header">
      <div class="col-xs-3">
        <a href="#" class="back-btn">
          <span class="glyphicon glyphicon-menu-left back-icon"></span>
        </a>
      </div>
      <div class="col-xs-9 header-text">
        <span>{{contestName}}</span>
      </div>
    </div>

    {{#if contest}}
      <div id="chart">
        <svg id="c1"></svg>
      </div>

      <div class="questionContainer">
        <div class="question">
        {{#mathjax}}
          {{questionContent}}
        {{/mathjax}}
        </div>
        <div class="answer">
          {{#each answers}}
          <div class="col-xs-12">
          	<button class="btn {{ansClass}} choice" data-code='{{code}}'>{{text}}</button>
          </div>
          {{/each}}
        </div>

        <div class="btn-group question-btns" role="group" aria-label="...">
          {{#each questionListButtons}}
          	<button type="button" class="btn btn-default question-btn question-btn-{{this}}" question-id={{this}}>{{this}}</button>
          {{/each}}
        </div>
      </div>
    {{else}}
      <span class="not-found">
        Contest not found.
        <br/>Please select a contest from the contest list!
      </span>
    {{/if}}
  </div>
</template>
