<template name="mathContestsList">
  <div id="{{active_route}}-wrapper">
    <div class="col-xs-12 contest-list-header">
      <div class="col-xs-2">
        <a href="#" class="back-btn">
            <span class="glyphicon glyphicon-menu-left back-icon"></span>
        </a>
      </div>
      <div class="col-xs-10 header-text">
        <span>Select contests (Maths)</span>
      </div>
    </div>
    <div class="contest-list-body">
      {{#each contests}}
        <div class="contest-cell clearfix" contest-id="{{_id}}">
          <div class="col-xs-12">
            <span class="contest-name">{{name}}</span>
          </div>
          <div class="col-xs-12 detail">
            <div class="col-xs-4">
              <span class="title">Start in</span>
              <br/>
              <span class="value">{{> contestCountDown contestId=_id startTime=start_at}}</span>
            </div>
            <div class="col-xs-4">
              <span class="title">Entries</span>
              <br/>
              <span class="value">{{entry_count}}/{{max_entries}}</span>
            </div>
            <div class="col-xs-4">
              <span class="title">Prizes</span>
              <br/>
              <span class="value"><span class="wisdom-point">W</span>{{total_prizes}}</span>
            </div>
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</template>
