<template name="contestReview">
  <div id="{{active_route}}-wrapper">
    <div class="col-xs-12 contest-list-header">
      <div class="col-xs-3">
        <a href="#" class="back-btn">
          <span class="glyphicon glyphicon-menu-left back-icon"></span>
        </a>
      </div>
      <div class="col-xs-9 header-text">
        <span>Lecture Review</span>
      </div>
      <div class="entry-content" itemprop="text">


<div style="float:none; margin:15px 0 15px 0; text-align:center;">

</div>
<p>An <span id="IL_AD11" class="IL_AD">equation</span> that involves an independent variable, dependent variable and <span id="IL_AD5" class="IL_AD">differential</span> <span id="IL_AD3" class="IL_AD">coefficients</span> of dependent variable with respect to the independent variable is called a <strong>differential equation.</strong></p>
<p>e.g., (i) x<sup>2</sup>(d<sup>2</sup>y / dx<sup>2</sup>) + x<sup>3</sup> (dy / dx)<sup>3</sup> 7x<sup>2</sup>y<sup>2</sup></p>
<p>(ii) (x<sup>2</sup> + y<sup>2</sup>) dx = (x<sup>2</sup> – y<sup>2</sup>) dy</p>
<p><strong>Order and Degree of a Differential Equation</strong></p>
<p>The order of a differential equation is the order of the highest <span id="IL_AD7" class="IL_AD">derivative</span> occurring in the equation. The order of a differential equation is always a positive integer.</p>
<p>The degree of a differential equation is the degree (exponent) of the derivative of the highest order in the equation, after the equation is free from negative and fractional powers of the <span id="IL_AD9" class="IL_AD">derivatives</span>.</p>
<p><strong>Linear and Non-Linear Differential <span id="IL_AD12" class="IL_AD">Equations</span></strong></p>
<p>A differential equation is said to be linear, if the dependent variable and all of its derivatives occurring in the first power and there are no product of these. A linear <span id="IL_AD1" class="IL_AD">equation of</span> nth order can be written in the form</p>
<p><img src="https://farm8.staticflickr.com/7452/14129365354_9e0d0a9a2c_o.jpg" alt="CBSE Class 12 Maths Notes Differential Equations" scale="0"></p>
<p>where, P<sub>0</sub>, P<sub>1</sub>, P<sub>2</sub>,…, P<sub>n – 1</sub> and Q must be either constants or functions of x only.</p>
<p>A linear differential equation is always of the first degree but every differential equation of the first degree need not be linear.</p>
<p>e.g., The equations d<sup>2</sup>y / dx<sup>2</sup> + (dy / dx)<sup>2</sup> + xy = 0 and</p>
<p>x(d<sup>2</sup>y / dx<sup>2</sup>) + y (dy / dx) + y = x<sup>3</sup>, (dy / dx) d<sup>2</sup>y / dx<sup>2</sup> + y = 0</p>
<p>are not linear.</p>
<p><strong><span id="IL_AD4" class="IL_AD">Solution</span> of Differential Equations</strong></p>
<p>A solution of a differential equation is a relation between the variables, not involving the differential coefficients, such that this relation and the derivative obtained from it satisfy the given differential equation.</p>
<p>e.g., Let d<sup>2</sup>y / dx<sup>2</sup> + y = 0</p>
<p><span id="IL_AD8" class="IL_AD">Integrating</span> above equation twicely, we get y = A cos x + B sin x.</p>
<p><strong>General Solution</strong></p>
<p>If the solution of the differential equation contains as many independent arbitrary constants as the order of the differential equation, then it is called the general solution or the complete integral of the differential equation.</p>
<p>e.g., The general solution of d<sup>2</sup>y / dx<sup>2</sup> + y = 0 is y = A cos x + B sin x because it contains two arbitrary constants A and B, which is equal to the order of the equation.</p>
<p><strong>Particular Solution</strong></p>
<p>Solution obtained by giving particular values to the arbitrary constants in the general solution is called a particular solution. e.g., In the<br>
previous example, if A = B = 1, then y = cos x + sin x is a particular solution of the differential equation d<sup>2</sup>y / dx<sup>2</sup> + y = 0.</p>
<p>Solution of a differential equation is also called its primitive.</p>
<p><strong>Formation of Differential Equation</strong></p>
<p>Suppose, we have a given equation with n arbitrary constants f(x, y, c<sub>1</sub>, c<sub>2</sub>,…, c<sub>n</sub>) = 0.</p>
<p><span id="IL_AD2" class="IL_AD">Differentiate</span> the equation successively n times to get n equations.</p>
<p>Eliminating the arbitrary constants from these n + 1 equations leads to the required differential equations.</p>
<p><strong>Solutions of Differential Equations of the First Order and First Degree</strong></p>
<p>A differential equation of first degree and first order can be solved by following <span id="IL_AD6" class="IL_AD">method</span>.</p>
<p>1. <strong>Inspection Method</strong></p>
<p>If the differential equation’ can be written as f [f<sub>1</sub>(x, y) d {f<sub>1</sub>(x, y)}] + φ [f<sub>2</sub>(x, y) d {f<sub>2</sub>(x, y)}] +… = 0] then each term can be integrated separately.</p>
<p>For this, remember the following results</p>
<p><img src="https://farm3.staticflickr.com/2901/14125754971_eefdff3371_o.jpg" alt="CBSE Class 12 Maths Notes Differential Equations" scale="0"></p>
<p>2. <strong>Variable Separable Method</strong></p>
<p>If the equation can be reduced into the form f(x) dx + g(y) dy = 0, we say that the variable have been separated. On integrating this reduced, form, we get ∫ f(x) dx + ∫ g(y) dy = C, = C, where C is any arbitrary constant.</p>
<p>3. <strong>Differential Equation Reducible to Variables Separable Method</strong></p>
<p>A differential equation of the form dy / dx = f(ax + by + c) can be reduced to variables separable form by substituting</p>
<p>ax + by + c = z =&gt; a + b dy / dx = dz / dx</p>
<p>The given equation becomes</p>
<p>1 / b (dz / dx – a) f(z) =&gt; dz / dx = a + b f(z)</p>
<p>=&gt; dz / a+ bf(z) = dx</p>
<p>Hence, the variables are separated in terms of z and x.</p>
<p>4. <strong>Homogeneous Differential Equation</strong></p>
<p>A function f(x, y) is said to be homogeneous of degree n, if</p>
<p>f(λx, λy) = λ<sup>n</sup> f(x, y)</p>
<p>Suppose a differential equation can be expressed in the form</p>
<p>dy / dx = f(x, y) / g(x, y) = F (y / x)</p>
<p>where, f(x, y) and g(x, y) are homogeneous function of same degree. To solve such types of equations, we put y = vx</p>
<p>=&gt; dy / dx = v + x dv / dx.</p>
<p>The given equation, reduces to</p>
<p>v + x dv / dx = F(v)</p>
<p>=&gt; x dv / dx = F(v) – v</p>
<p>∴ dv / F(v) – v = dx / x</p>
<p>Hence, the variables are separated in terms of v and x.</p>
<p>5. <strong>Differential Equations Reducible to Homogeneous Equation</strong></p>
<p>The differential equation of the form</p>
<p>dy / dx = a<sub>1</sub>x + b<sub>1</sub>y + c<sub>1</sub> / a<sub>2</sub>x + b<sub>2</sub>y + c<sub>2</sub> ……(i)</p>
<p>put X = X + h and y = Y + k</p>
<p>∴ dY / dX = a<sub>1</sub> X + b<sub>1</sub> Y + (a<sub>1</sub>h + b<sub>1</sub>k + c<sub>1</sub>) / a<sub>2</sub>X + b<sub>2</sub> Y + (a<sub>2</sub>h + b<sub>2</sub>k + c<sub>2</sub>) ……(ii)</p>
<p>We choose h and k, so as to satisfy a<sub>1</sub>h + b<sub>1</sub>k + c<sub>1</sub> = 0 and a<sub>2</sub>h + b<sub>2</sub>k + c<sub>2</sub> = 0.</p>
<p>On solving, we get</p>
<p>h / b<sub>1</sub>c<sub>2</sub> – b<sub>2</sub>c<sub>1</sub> = k / c<sub>1</sub>a<sub>2</sub> – c<sub>2</sub>a<sub>1</sub> = 1 / a<sub>1</sub>b<sub>2</sub> – a<sub>2</sub>b<sub>1</sub></p>
<p>∴ h = b<sub>1</sub>c<sub>2</sub> – b<sub>2</sub>c<sub>1</sub> / a<sub>1</sub>b<sub>2</sub> – a<sub>2</sub>b<sub>1</sub> and k = c<sub>1</sub>a<sub>2</sub> – c<sub>2</sub>a<sub>1</sub> / a<sub>1</sub>b<sub>2</sub> – a<sub>2</sub>b<sub>1</sub></p>
<p>Provided a<sub>1</sub>b<sub>2</sub> – a<sub>2</sub>b<sub>1</sub> ≠ 0 , a<sub>1</sub> / a<sub>2</sub> ≠ b<sub>a</sub> / b<sub>2</sub></p>
<p>Then, Eq, (ii) reduces to dY / dX = (a<sub>1</sub> X + b<sub>1</sub> Y) / (a<sub>2</sub>X + b<sub>2</sub> Y), which is a homogeneous form and will be solved easily.</p>
<p>6. <strong>Exact Differential Equation</strong></p>
<p>Differential equation M(x,y) dy + N(x,y) dy = 0 is called an exact differential equation.</p>
<p>If a function u (x, y) exist such that,</p>
<p>du = Mdx + Ndy.</p>
<p><strong>Necessary and Sufficient Condition for an Equation to be an Exact Differential Equation</strong></p>
<p>Differential equation Mdx + Ndy = 0 where, M and N are the functions •of x and y, will be an exact differential equation, if</p>
<p>∂N / ∂y = ∂N / ∂x</p>
<p><strong>Solution of Exact Differential Equation</strong></p>
<p><img src="https://farm8.staticflickr.com/7412/14129303915_499281a2ae_o.jpg" alt="CBSE Class 12 Maths Notes Differential Equations" scale="0"></p>
<p>7. <strong>Linear Differential Equation</strong></p>
<p>A linear differential equation of the first order can be either of the following forms</p>
<p>(i) dy / dx + Py = Q, where P and Q are functions of x or constants.</p>
<p>(ii) dx / dy + Rx = S, where Rand S are functions of y or constants.</p>
<p>Consider the differential Eq. (i) i.e., dy / dx + Py = Q</p>
<p><img src="https://farm6.staticflickr.com/5533/14125754571_5d81428ee7_o.jpg" alt="CBSE Class 12 Maths Notes Differential Equations" scale="0"></p>
<p>Similarly, for the second differential equation dx / dy + Rx = S, the integrating factor, IF = e ∫<sup>R dy</sup> and the general solution is</p>
<p>x (IF) = ∫ S (IF) dy + C</p>
<p>8. <strong>Differential Equation Reducible to Linear Form</strong></p>
<p><strong>Bernoulli’s Equation</strong> An equation of the form dy / dx + Py = Qy<sup>n</sup>, where P and Q are functions of x along or constants, is called<br>
Bernoulli’s equation.</p>
<p>Divide both the sides by y<sup>n</sup>, we get</p>
<p>y<sup>-n</sup> dy / dx + Py<sup>-n + 1</sup> = Q</p>
<p>Put y<sup>-n + 1</sup> = z</p>
<p>=&gt; (-n + 1)y<sup>-n</sup> dy / dx = dz / dx</p>
<p>The equation reduces to</p>
<p>1 / 1 – n dz / dx + Pz = Q =&gt; dz / dx + (1 – n) Pz = Q (1 – n)</p>
<p>which is linear in z and can be solved in the usual manner.</p>
<p>9. <strong>Clairaut Form for Differential Equation</strong></p>
<p>Differential equation y = Px + f(p), where P= dy / dx … (i)</p>
<p>is called clairaut form of differential equation. In which, get its general solution by replacing P from C.</p>
<p>Now, differential on both sides of Eq, (i) with respect to x and put dy / dx = P.</p>
<p>P = P + x dp / dx + f’ (P) dp / dx = 0</p>
<p>=&gt; [x + f’ (p)] dp / dx = 0</p>
<p>=&gt; dp / dx = 0 =&gt; p = C</p>
<p>10. <strong>Orthogonal Trajectory</strong></p>
<p>Any curve, which cuts every member of a given family of curves at right angle, is called an orthogonal trajectory of the family.</p>
<p><strong>Procedure for finding the Orthogonal Trajectory</strong></p>
<p>(i) Let f(x,y,c)= 0 be the equation of the given family of curves, where ‘c’ is an arbitrary <span id="IL_AD10" class="IL_AD">parameter</span>.</p>
<p>(ii) Differentiate f = 0, with respect to ‘x’ and eliminate 0, i.e., from a differential equation.</p>
<p>(iii) Substitute (- dx / dy) for (dy / dx) in the above differential equation.</p>
<p>This will give the differential equation of the orthogonal trajectories.</p>
<p>(iv) By solving this differential equation, we get the required orthogonal trajectories.</p>
</div>
    </div>
  </div>
</template>
