<template name="userLogin">
  <div id="{{active_route}}-wrapper">
    <div class="header">
      <div class="logo">
        <img src="/assets/images/logo.png" />
        <span class="logo-text">Interactive School</span>
        <div class="version">hackademics</div>
      </div>
    </div>
    <div class="content">
      <div class="row">
        <span class="glyphicon glyphicon-ok col-xs-2"></span>
        <span class="message">Make tests interesting like play GAME</span>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-ok col-xs-2"></span>
        <span class="message">Earn Point and get rank up at school</span>
      </div>
      <div class="row">
        <span class="glyphicon glyphicon-ok col-xs-2"></span>
        <span class="message">Challenge your classmate</span>
      </div>
    </div>
    <div class="col-xs-12 login-btn">
      <button id="facebook-login" class="btn btn-default"> Login with Facebook</button>
    </div>
  </div>
</template>
