<template name="userLogin">
  <div id="{{active_route}}-wrapper">
    <div class="header">
      <div class="logo">
        <img src="/assets/images/logo.png" />
        <span class="logo-text">Interactive School</span>
        <span class="version">hackademics</span>
      </div>
    </div>
    <div class="content">
      <div class="intro-row">
        <span class="glyphicon glyphicon-ok col-xs-2"></span>
        <span class="message">Make tests interesting like playing GAME</span>
      </div>
      <div class="intro-row">
        <span class="glyphicon glyphicon-ok col-xs-2"></span>
        <span class="message">Earn Wisdom Point and get ranked up</span>
      </div>
      <div class="intro-row">
        <span class="glyphicon glyphicon-ok col-xs-2"></span>
        <span class="message">Challenge your classmates</span>
      </div>
    </div>
    <div class="col-xs-12 login-btn">
      <button id="facebook-login" class="btn btn-lg btn-default"> Login with Facebook</button>
    </div>
  </div>
</template>
