@color-blue:       #558CF2;
@color-navi:       #167496;
@color-black:      #000000;
@color-less-black: #222222;
@color-grey:       #797979;
@color-less-grey:  #D7D7D7;
@color-less-white: #F3F3F3;
@color-white:      #F7F7F7;
@color-real-white: #FFFFFF;
@color-trans:      rgba(0,0,0,0);
@assets_path:      "/assets";

// Tools
.prefixes(@property, @value){
    -webkit-@{property}: @value;
       -moz-@{property}: @value;
        -ms-@{property}: @value;
         -o-@{property}: @value;
            @{property}: @value;
}

// Useful mixins
.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

.translate-y(@y) {
  -webkit-transform: translateY(@y);
  -ms-transform: translateY(@y);
  transform: translateY(@y);
}

.translate-x(@x) {
  -webkit-transform: translateX(@x);
  -ms-transform: translateX(@x);
  transform: translateX(@x);
}
