@import 'base.import.less';

#userLogin-wrapper {
  .header {
    .logo {
      background-color: @color-less-white;
      img {
        width: 72px;
      }
      .logo-text {
        font-size: 2.6rem;
        color: @color-blue;
      }
      .version {
        color: @color-navi;
        font-style: italic;
        position: absolute;
        right: 0;
        margin-right: .6em;
        margin-bottom: -0.7em;
        font-size: 1.1em;
      }
    }
  }
  .content {
    margin-top: 40px;
    padding: 10px;
    .intro-row {
      line-height: 30px;
      height: 30px;
      .glyphicon {
        font-size: 2rem;
      }
    }
  }
  .login-btn {
    text-align: center;
    padding: 40px;
  }
}
