html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}

/* CSS declarations go here */
.modal.modal-wide .modal-dialog {
  width: 900px;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.hidden_div {
  display: none;
}

.color_code {
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.contest-question {
  border-bottom:1px solid #D7D7D7;
  margin-bottom: 10px;
}

.stt {
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  font-weight: bold;
  color: #222222;
  background: #D7D7D7;;
}

textarea {
  width: 100%;
}

.review-block {
  margin-bottom: 40px;
}

.question {
  font-size: 2.6rem;
  color: #558CF2;
  font-weight: 600;
}

.note {
  font-style: italic;
}
